LAB 3.5: SỬ DỤNG MULTIINDEX VÀ GROUPBY

In [3]:
import numpy as np
import pandas as pd

In [1]:
stocks1 = pd.read_csv('D:\42-Nguyễn Văn Vinh-DHKL17A3HN-0051\Bài tập LAB_DHKL17A3\LAB3\DATA\stocks1.csv')
print(stocks1.head())
stocks2 = pd.read_csv('D:\42-Nguyễn Văn Vinh-DHKL17A3HN-0051\Bài tập LAB_DHKL17A3\LAB3\DATA\stocks2.csv')
print(stocks2.head())
companies = pd.read_csv('D:\42-Nguyễn Văn Vinh-DHKL17A3HN-0051\Bài tập LAB_DHKL17A3\LAB3\DATA\companies.csv')
print(companies.head())
stocks = pd.concat([stocks1, stocks2], ignore_index=True)
stocks_companies = pd.merge(stocks, companies, left_on='symbol', right_on='name', how='inner')

NameError: name 'pd' is not defined

1. Tạo MultiIndex cho DataFrame stocks bằng cách sử dụng cột date và symbol làm 
chỉ mục.

In [2]:
stocks['date'] = pd.to_datetime(stocks['date'])
stocks.set_index(['date', 'symbol'], inplace=True)

NameError: name 'pd' is not defined

2. Sử dụng GroupBy để tính giá trung bình (open, high, low, close) và volume trung 
bình cho mỗi ngày, cho mỗi mã chứng khoán.

In [3]:
nhom_stocks = stocks_companies.groupby('name')

gia_tri_tb = nhom_stocks.agg({ 'open': 'mean',
                               'high': 'mean',
                               'low': 'mean',
                               'close': 'mean',
                               'volume': 'mean'
})

print("Giá trung bình và volume trung bình của mỗi công ty:")
print(gia_tri_tb)

NameError: name 'stocks_companies' is not defined

3. Sắp xếp dữ liệu theo ngày và mã chứng khoán.

In [5]:
sorted_data = stocks_companies.reset_index().sort_values(by=['date', 'symbol']).set_index(['date', 'symbol'])

4. Hiển thị kết quả cho 5 ngày đầu tiên.

In [6]:
print("Kết quả cho 5 ngày đầu tiên:")
print(sorted_data.head())

Kết quả cho 5 ngày đầu tiên:
                 index     open      high      low    close    volume  name  \
date     symbol
01-03-19 AAPL        5   174.28   175.150   172.89   174.97  25886167  AAPL
         AMZN        0  1655.13  1674.260  1651.00  1671.73   4974877  AMZN
         FB         15   162.60   163.132   161.69   162.28  11097770    FB
         GOOG       10  1124.90  1142.970  1124.75  1140.99   1450316  GOOG
         TSLA       20   306.94   307.130   291.90   294.79  22911375  TSLA

                 employees headquarters_city headquarters_state
date     symbol
01-03-19 AAPL       132000         Cupertino                 CA
         AMZN       613300           Seattle                 WA
         FB          48268        Menlo Park                 CA
         GOOG        98771     Mountain View                 CA
         TSLA        48016         Palo Alto                 CA